{% extends 'todolist/base.html' %}
{% block content %}
<div class="row justify-content-center mt-5">
    <div class="col-md-5">
        <h2>Atualizar atividades</h2>
    </div>
</div>
<div class="row justify-content-center mt-5">
    <div class="col-md-8">
        {% if error %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endif %}
        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                {{ form.title.label_tag }}
                {{ form.title }}
                {% if form.title.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ form.title.errors }}
                    </div>
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.description.label_tag }}
                {{ form.description }}
                {% if form.description.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ form.description.errors }}
                    </div>
                {% endif %}
            </div>
            <div class="form-group form-check">
                {{ form.priority }}
                {{ form.priority.label_tag }}
                {% if form.priority.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ form.priority.errors }}
                    </div>
                {% endif %}
            </div>
            <div class="form-group form-check">
                {{ form.is_completed }}
                {{ form.is_completed.label_tag }}
                {% if form.is_completed.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ form.is_completed.errors }}
                    </div>
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.postpone_date.label_tag }}
                {{ form.postpone_date }}
                {% if form.postpone_date.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ form.postpone_date.errors }}
                    </div>
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.email.label_tag }}
                {{ form.email }}
                {% if form.email.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ form.email.errors }}
                    </div>
                {% endif %}
            </div>
            <button type="submit" class="btn btn-primary">Salvar</button>
        </form>
    </div>
</div>
{% if todos.datecompleted is None %}
    <form style='display: none;' method="POST" action="{% url 'completetodolist' todos.id %}">
        {% csrf_token %}
        <button id="complete" type="submit">Complete</button>
    </form>
{% endif %}
<form style='display: none;' method="POST" action="{% url 'deletetodolist' todos.id %}">
    {% csrf_token %}
    <button id="delete" type="submit">Delete</button>
</form>
{% endblock %}
