{% extends "todolist/base.html" %}

{% block content %}

<br>
<br>
<br>
<br>
<br>

<div class = "row justify-content-center mt-19">
	<div class = "col-md-7 text-center">
		<h1> Crie tarefas simples </h1>
		<p>
			<p>Organize Suas Tarefas com Facilidade </p>

			<p>Este é um aplicativo web intuitivo e fácil de usar que permite aos usuários criar e gerenciar suas tarefas diárias de maneira eficiente. </p>

				Com este aplicativo, você pode:
				<p><u>Registre-se rapidamente e comece a organizar suas tarefas.</u>
				<p><u>Criar Listas de Tarefas: Adicione novas tarefas às suas listas e mantenha-se organizado.</u></p>
				<p><u>Exibir Atividades Concluídas: Visualize facilmente as tarefas que você já completou.</u></p>
				<p><u>Excluir Tarefas: Remova atividades da sua lista quando elas não forem mais necessárias.</u></p>
			<p>Com essas funcionalidades, você poderá manter suas tarefas sob controle e aproveitar uma vida mais organizada e produtiva.</p>
		</p>
		  <a role="button" class="btn btn-primary btn-lg" href="{% url 'createtodolist' %}">Start</a>
	</div>
</div>

{% endblock %}