{% extends 'agendaFinanceiraApp/base2.html' %}

{% block content %}
<div class="container mt-4">
  <h2>Cadastro de Produto</h2>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group">
      <label for="id_nm_produto">Nome do Produto:</label>
      <input type="text" id="id_nm_produto" name="nm_produto" class="form-control" required>
    </div>
    <div class="form-group">
      <label>Status do Produto:</label>
      <select name="status_produto" class="form-control" required>
        <option value="ativo">Ativo</option>
        <option value="inativo">Inativo</option>
      </select>
    </div>
    <div class="form-group">
      <label for="id_valor_venda">Valor de Venda:</label>
      <input type="number" id="id_valor_venda" name="valor_venda" class="form-control" step="0.01">
    </div>
    <div class="form-group">
      <label for="id_valor_producao">Custo de Produção:</label>
      <input type="number" id="id_valor_producao" name="valor_producao" class="form-control" step="0.01">
    </div>
    <div class="form-group">
      <label for="id_image">Foto do Produto:</label>
      <input type="file" id="id_image" name="image" class="form-control-file">
    </div>
    <button type="submit" class="btn btn-primary" style="display: block;">Cadastrar</button>
</form>
</div>
{% endblock %}
